<li routerLinkActive="active"><a routerLink="">Accueil</a></li>
<li routerLinkActive="active"><a routerLink="login">Login</a></li>
<li routerLinkActive="active"><a routerLink="formulaire">Register</a></li>
<li routerLinkActive="active"><a routerLink="catalogue">Catalogue</a></li>
<li routerLinkActive="active"><a routerLink="panier">Panier ({{ nbElementPanier }})</a></li>
