<li>
  <a [routerLink]="['/catalogue', articleRef]">{{ articleName }} : {{ articlePrice }} $</a>
  <app-btn-add-panier
    [articleRef]='articleRef'
    [articleName]='articleName'
    [articlePrice]='articlePrice'
    ></app-btn-add-panier>
</li>
