<h2>Panier</h2>

<div *ngIf="panierElements$ | async as elements">

  <a *ngIf="elements.length === 0">Panier vide</a>
  <a *ngIf="elements.length >= 1 ">Prix total : {{ panierPrix }} $ pour {{elements.length}} articles</a>

  <ul>
    <li *ngFor='let panierElement of elements'>{{ panierElement.titre }} : {{panierElement.prix}} $</li>
  </ul>

  <button (click)='viderPanier()' *ngIf="elements.length >= 1 " [routerLink]="['/paiement']">Payer</button>
</div>

<button  [routerLink]="['/catalogue']">Retour</button>
