<h1>Connexion</h1>

<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
    <div class=field>
        <a>Prénom : </a> <input [(ngModel)]="prenom" name="prenom"/>
        <div class = error *ngIf = "!regAlpha.test(prenom)&&regEmpty.test(prenom)">Prénom invalide</div>
    </div>
    <div class=field>
        <a>Nom : </a> <input [(ngModel)]="nom" name="nom"/>
        <div class = error *ngIf = "!regAlpha.test(nom)&&regEmpty.test(nom)">Nom invalide</div>
    </div>

    <button type = "submit" [disabled]="!regAlpha.test(prenom)&&!regAlpha.test(nom)">Enregistrer</button>

</form>
