<h2>Catalogue Ikea</h2>

<div>
  
  <ul>

    <app-article
      *ngFor="let article of articles$!;"
      [articleRef]='article.ref'
      [articleName]='article.titre'
      [articlePrice]='article.prix'
    ></app-article>
  </ul>
  
</div>
