<h1>Formulaire d'inscription</h1>

<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
    <div class=field>
        <a>Prénom : </a> <input [(ngModel)]="prenom" name="prenom"/>
        <div class = error *ngIf = "!regAlpha.test(prenom)&&regEmpty.test(prenom)">Prénom invalide</div>
    </div>
    <div class=field>
        <a>Nom : </a> <input [(ngModel)]="nom" name="nom"/>
        <div class = error *ngIf = "!regAlpha.test(nom)&&regEmpty.test(nom)">Nom invalide</div>
    </div>
    <div class=field>
        <a>Adresse : </a> <input [(ngModel)]="adresse" name="adresse"/>
        <div class = error *ngIf = "!regAlphaNum.test(adresse)&&regEmpty.test(adresse)">Adresse invalide</div>
    </div>
    <div class=field>
        <a>CodePostal : </a>  <input [(ngModel)]="codePostal" name = "codePostal"/>
        <div class = error *ngIf = "!regNum.test(codePostal)&&regEmpty.test(codePostal)">Code postal invalide</div>
    </div>
    <div class=field>
        <a>Ville : </a>  <input [(ngModel)]="ville" name = "ville"/>
        <div class=error *ngIf = "!regAlpha.test(ville)&&regEmpty.test(ville)">Ville invalide</div>
    </div>

    <button type = "submit" [disabled]="!regAlpha.test(prenom)&&!regAlpha.test(nom)&&!regAlphaNum.test(adresse)&&!regNum.test(codePostal)&&!regAlpha.test(ville)">Enregistrer</button>

</form>
